/* styles only used by CompanyCard component */
.card {
  background-color: var(--bg-white);
  border: 1px solid var(--border);
  border-top: 3px solid var(--green-mid);
  border-radius: var(--border-radius);
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.card:hover {
  background-color: var(--bg-hover);
  border-color: var(--green-border);
}

.selected {
  border-color: var(--blue-border);
  border-top: 3px solid var(--blue-mid);
  background-color: var(--blue-light);
}